* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: #f4f7fa;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
  }
  
  h2 {
    margin: 0;
  }
  
  .logout-button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #bd2130;
  }
  
  #inbox-container {
    width: 25%;
    float: left;
    margin-right: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  #inbox-container h3 {
    margin-bottom: 10px;
  }
  
  ul#userList {
    list-style-type: none;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
  }
  
  ul#userList li {
    background: #e9ecef;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  ul#userList li:hover {
    background: #dee2e6;
  }
  
  #propertyList {
    width: 70%;
    float: left;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"],
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: hsl(211, 100%, 36%);
  }
  
  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
    }
  
    .logout-button {
      margin-top: 10px;
    }
  
    #inbox-container, 
    #propertyList {
      width: 100%;
      float: none;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  /* ************************************************** */
  .navbar {
    overflow: hidden;
    background-color: #075fbd;
    padding: 0 20px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #466b93;
    color: white;
  }
  