body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9; 
    color: #333; 
    padding: 20px;
}

h2 {
    color: #3b5998; 
}
/* Header and Navbar Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0;
    font-size: 24px;
      color: #3b5998; /* Adjusted for consistency */
}

.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: #075fbd;
    padding: 0 20px;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.navbar a:hover, .navbar a.active {
    background-color: #00448a;
    color: white;
}
form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #3b5998; 
}

input[type="text"],
input[type="number"],
textarea,
button[type="submit"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #3b5998; 
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2d4373; 

input[type="file"] {
    margin-bottom: 0; /* remove margin bottom for file input */
}

input[type="file"]::file-selector-button {
    padding: 10px;
    background-color: #3b5998; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: #2d4373; 
}
}