* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name12 {
    color: white;
}

.big-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin-top: 60px;
}

.background-img {
    margin-top: 60; 
    position: relative;
    height: 60vh; 
    width: 100%; 
    border-radius: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Atlantic City.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.background-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(84, 79, 121, 0.5); 
    z-index: -1;
}

/* *************************** */
/* Font */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    color: #222;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.search-input {
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 15px;
    outline: none;
    width: 100%;
}

.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-button:hover {
    background-color: #0056b3;
}


a[href*="login"]:hover {
    background-color: #218838;
}

/* Property List */
#propertyList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-gap: 20px; 
    padding: 20px;
}

/* Property Item Cards */
.property-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px; 
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
    margin-bottom: 20px; 
}

.property-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.property-item h2 {
    color: #007bff;
    font-size: 1.8rem; 
    margin-bottom: 0.5rem;
}

.property-item p {
    font-size: 1rem; /* Larger paragraph text */
    color: #666;
    margin-bottom: 0.5rem;
}
/* *********************************************************************************** */
.navbar {
    overflow: hidden;
    background-color: #075fbd;
    padding: 0 20px;
    margin-bottom: 60px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #466b93;
    color: white;
  }
  