<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - Garden State Getaway</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css') }}">
</head>

<body>
  <div class="navbar">
    <a href="{{ url_for('main.index') }}">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a class="active" href="{{ url_for('main.aboutus') }}">About</a>
  </div>

  <div class="container">
    <h1>About Us</h1>
    <p>Welcome to Garden State Getaway, your premier destination for seamless rental experiences in South Jersey. Founded to empower renters with comprehensive information and support throughout their journey, we strive to make finding the perfect home a hassle-free endeavor.</p>
    <p>Located in South Jersey, our platform offers a range of intuitive tools to help you manage your bookings effortlessly, access interactive calendars, and communicate seamlessly with property owners. Whether you're searching for a temporary abode or a long-term residence, Garden State Getaway is here to guide you every step of the way. Our messaging functionality facilitates direct communication between Mr. Ahmed and his customers, fostering trust, prompt query resolution, and a personalized touch. Join us on this journey towards comfort, convenience, and unparalleled hospitality in the heart of South Jersey.</p>
  </div>
</body>
</html>
