<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='adashboard.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="navbar">
    <a href="{{ url_for('main.index') }}">Home</a>
    <a href="{{ url_for('main.aboutus') }}">About</a> 
    <a href="{{ url_for('main.user_dashboard') }}">my dash</a>
    <a href="{{ url_for('main.user_messages') }}">message us</a>
  </div>
  <div class="header">
    <h2>Admin Dashboard</h2>
    <a href="{{ url_for('main.logout') }}" class="logout-button">Logout</a>
  </div>
  
  <div id="inbox-container">
    <h3>Messages</h3>
    <ul id="userList">
    </ul>
  </div>

  <div id="propertyList">
    <form
      action="{{ url_for('main.create_property_listing') }}"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="text" name="title" placeholder="Name" required /><br />
      <input type="text" name="description" placeholder="Description" required /><br />
      <input type="number" name="bedrooms" placeholder="Bedrooms" required /><br />
      <input type="number" name="bathrooms" placeholder="Bathrooms" required /><br />
      <input type="number" name="price" placeholder="Price" required /><br />
      <input type="text" name="location" placeholder="Location" required /><br />
      <input type="file" name="images" accept="image/jpeg, image/png" multiple required/><br />
      <button type="submit">Create Listing</button>
    </form>
  </div>

  <script>
    $(document).ready(function () {
      function fetchUserList() {
        $.ajax({
          url: "{{ url_for('main.get_user_list') }}",
          type: "GET",
          success: function (response) {
            var userList = $("#userList");
            userList.empty(); 
            response.user_list.forEach(function (user) {
              var listItem = $("<li>").text(user.name);
              listItem.on("click", function () {
                // Redirects to user-specific conversation page
                window.location.href = "/admin_messages/" + user.sender_id;
              });
              userList.append(listItem);
            });
          },
          error: function (error) {
            console.log("Error fetching user list:", error);
          },
        });
      }

      fetchUserList();
    });
  </script>
  


</body>
</html>
