<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Property</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_property.css') }}">
</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('main.index') }}">Home</a>
        <a href="{{ url_for('main.aboutus') }}">About</a> 
        <a href="{{ url_for('main.user_dashboard') }}">my dash</a>
        <a href="{{ url_for('main.user_messages') }}">message us</a>
    </div>
    <h2>Edit Property</h2>
    <form action="{{ url_for('main.update_property', property_id=property.id) }}" method="post" enctype="multipart/form-data">
        <link rel="stylesheet" href="{{ url_for('static', filename='edit_property.css') }}">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ property.title }}" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required>{{ property.description }}</textarea>
        
        <label for="bedrooms">Bedrooms:</label>
        <input type="number" id="bedrooms" name="bedrooms" value="{{ property.bedrooms }}" required>
        
        <label for="bathrooms">Bathrooms:</label>
        <input type="number" id="bathrooms" name="bathrooms" value="{{ property.bathrooms }}" required>
        
        <label for="price">Price ($):</label>
        <input type="number" id="price" name="price" value="{{ property.price }}" required>
        
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" value="{{ property.location }}" required>

        <label for="photos">Upload Photos:</label>
        <input type="file" id="photos" name="photos" accept="image/*" multiple>

        <button type="submit">Update Property</button>
    </form> 
</body>
</html>
