!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>www.GardenStateGateaway.com</title>
</head>
<body bgcolor = "white">
    <form>
    <hr>
    <h1 align = "center"><font color = "green">Garden State Gateaway</User></font></h1>
            <br>
            <br>
    <h2><font color = "black">User Registration</User></font></h2>   
            <br>
            Name:
            <input type = "text" name = "uName" size = "35" maxlength = "10" required placeholder="Type in your Full Name">
            <br>
            <br>
            <br>
            Email:
            <input type = "text" name = "Email" size = "35" maxlength = "10" required placeholder="Type in your Email Address ">
            <br>
            <br>
            <br>
            UserName:
            <input type = "text" name = "UserName" size = "35" maxlength = "10" required placeholder="Only use Uppercase and Lowercase">
            <br>
            <br>
            <br>
            Password:
            <input type = "password" name = "Password" size = "35" maxlength="10" required placeholder="Only use letters and Numbers">
            <br>
            <br>
            <br>
            <input type = "submit"><value = "SignUp">
            <br>
            <div>
            <br>
                Already have an Account?
                    <a href="#">Login</a>
            </div>

        </form>

</body>
</html>
