<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Search Results</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}" />
</head>
<body>
<div id="propertyList">Loading...</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    var urlParams = new URLSearchParams(window.location.search);
    var bedrooms = urlParams.get('bedrooms');
    var bathrooms = urlParams.get('bathrooms');
    var price = urlParams.get('price');

    $.ajax({
        type: "GET",
        url: "{{ url_for('main.search_property_listings') }}",
        data: {bedrooms: bedrooms, bathrooms: bathrooms, price: price}, 
        success: function(data) {
            var propertyList = $("#propertyList");
            propertyList.empty(); 
            data.forEach(function(property) {
                var listing = $('<div class="property-item">');
                var imageUrl = property.first_photo_url ? "/path/to/uploads/" + property.first_photo_url : "/path/to/default/image.jpg";
                
                listing.append($('<img>').attr('src', imageUrl).css({maxWidth: '100%', height: 'auto'}));
                listing.append($("<h2>").text(property.title));
                listing.append($("<p>").text("Bedrooms: " + property.bedrooms));
                listing.append($("<p>").text("Bathrooms: " + property.bathrooms));
                listing.append($("<p>").text("$" + property.price + " per night"));
                propertyList.append(listing);
            });
        },
        error: function(error) {
            console.log("Error fetching search results:", error);
        }
    });
});
</script>
</body>
</html>
